<div class="container"> 
<p><a href="/users/<%= @tweet.user.id %>"> @<%= @tweet.user.username %></a> 
<time class="timeago" datetime="<%= @tweet.created_at.getutc.iso8601.to_s %>"><%= @tweet.created_at.strftime("%l:%M %p %v") %></time></p>
<b><%= @tweet.title %></b> <br>

<% if current_user && current_user.id == @tweet.user_id.to_i %>
  <form action="/tweets/<%= @tweet.id %>" method=post>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" class="btn btn-default">
  </form>

  <form action="/tweets/<%= @tweet.id %>/edit">
    <input type="submit" value="Edit" class="btn btn-default">
  </form>

<% end %>
<br>

<form action="/tweets/<%= @tweet.id %>/like" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="submit" value="&#10084;  <%= @tweet.likes.count %>" class="btn btn-info">
  </form>
  <br>

  <button class="btn btn-warning" onclick="myFunction()">Retweet</button>
  <br>
<br><br>
<div id="myDIV" style="display: none;">
  <form action="/tweets/<%= @tweet.id %>/retweet" method="post">
  <%# <input id="hidden" type="hidden" name="_method" value="PATCH"> %>
    <input type='text' name="new_title" placeholder="add comment here">
    <input type="submit" value="&#8652;  Retweet" class="btn btn-warning">
  </form>
</div>



</div>

<script type="text/javascript">
  $("time.timeago").timeago();

  function myFunction() {
  var x = document.getElementById("myDIV");
    x.style.display = "block";
}
</script> 