<div class="container"> 
<form action="/users/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" placeholder="Change your username" name="username" value="<%= @user.username %>">
  <input type="text" placeholder="Change your name" name="name" value="<%= @user.name %>">
  <input type="email" placeholder="Change your email" name="email" value="<%= @user.email %>">
  <input type="text" placeholder="Change your password" name="password" value="<%= @user.password %>">
  <input type="submit" value="Submit">
</form>
</div>