<div class="container"> 
 <div class= "row">
<div class="col-md-3">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 style="display: inline;"><%= current_user.name %></h3>
        <h4 style="display: inline;">@<%= current_user.username %></h4>
      </div>
      <div class="panel-body">
         <p><a class="link" href="/users/<%= current_user.id %>/checkfollowing">Following: <%= current_user.followed.count %></a> 
          <a class="link" href="/users/<%= current_user.id %>/checkfollowers">Followers: <%= current_user.followers.count %></a></p>
         <p>Meows: <%= current_user.tweets.count %> </p>
      </div>
    </div>


</div>

   <div class="col-md-6">
     <div class="tweetarea">
       <form method="post" action="/tweet">
         <textarea class="form-control" rows="3" cols="50" name="tweet[title]" placeholder="What's happening?" maxlength="140"></textarea>
         <span class="buttonfortxtarea"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Meow </button></span>
       </form>
      <%= @error if @error.present? %> 
     </div>
   </div>


<div class="col-md-3">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <b>Who to follow</b>
      </div>
      <div class="panel-body">
      <% if @suggested_users.present? %>
      <% @suggested_users.sample(3).each do |user| %>
      <p><a href="/users/<%= user.id %>"> @<%= user.username %></a></p> 
       <% end %>
       <% end %>
      </div>
    </div>


</div>


</div>
 <div class= "row">
<div class="col-md-12">
<% @maintweets.each do |tweet| %>
<div class="panel panel-default">
  <div class="panel-body">
  <p><a href="/users/<%= tweet.user.id %>"> @<%= tweet.user.username %></a> 
  <time class="timeago" datetime="<%= tweet.created_at.getutc.iso8601.to_s %>"><%= tweet.created_at.strftime("%l:%M %p %v") %></time>
</p>
<p><a class="link" href="/tweets/<%= tweet.id %>"><%= tweet.title %></a></p>
</div>
</div>

<% end %>

</div>
</div>


</div>
<script type="text/javascript">
  $("time.timeago").timeago();
</script>